:root {
  --font: 15px/22px arial,sans-serif;
}
    
.phonetic-td {
  color: #599bb3;
  line-height: 2;
  background: #fff !important;
  border-bottom: none !important;
  vertical-align: middle;
  padding: 0px !important;
  border: none !important;
}

.trans-type, .definitions-type {
  color: #599bb3;
  line-height: 3;
}

.modal-guts {
  /* cover the modal */
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 72%;
  /* spacing as needed */
  padding: 0;
  /* let it scroll */
  overflow: auto;
}

.trans-modal-backdrop {
  z-index:9999999998;
  background: #000;
  opacity: .5;
  position: fixed;
  width:100%;
  height:100%;
  top: 0px;
  left:0px;
}

.trans-table{
  margin: 0px !important;
  margin-top: 0px !important;
  border: none !important;
  table-layout: fixed !important;
  width: auto !important;
  box-shadow: none !important;
  order: 2
}

.trans-table > tr, .trans-table > th, .trans-table > td, .trans-table > tr:nth-child(2n+1), .trans-table > tr:nth-child(2n),  .trans-type-td {
  background: #fff !important;
  border: none !important;
  padding: 0px !important;
  color: #777 !important;
  border-bottom: none !important;
  vertical-align: middle;
}

.trans-table tr {
  border: none !important;
  padding: 0px !important;
  background-color: #fff !important;
}

.trans-table tr:nth-child(2n), .trans-table tr:nth-child(2n+1) {
  background: #fff !important;
}

.trans-td, .translation-td {
  color: #111;
  unicode-bidi: inherit;
  font:normal 14px arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  padding: 3px 12px 3px 0 !important;
  border-bottom: none !important;
  border: none !important;
}

.synonyms-td, .source-text-td, .definition-sample {
  color: #777;
  cursor: pointer;
  unicode-bidi: inherit;
  font:normal 13px arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  padding-left: 15px !important;
  border-bottom: none !important;
  padding: 0 !important;
  border: none !important;
}

.selective-dict-modal-top-bar {
	display: flex;
	box-shadow: 0 0 3px;
	padding: 8px;
}

.selective-dict-modal {
  font: normal 13px arial,sans-serif;
  border-radius: 6px;
  transition: 'top 1s, opacity .5s ease-out';
}

.selective-dict-modal button {
  color: #FFFFFF;
  background: #4285f4;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border: none !important;
  height:37px;
  line-height: 2;
  min-width: 90px;
  font-weight: normal !important;
}

.selective-dict-modal button, [type="button"], [type="reset"], [type="submit"], .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.selective-dict-modal button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus, .button:focus {
  outline: none !important;
  outline-offset: none !important;
}

.selective-dict-modal input {
	padding: 3px;
	display: inline;
	padding: 0 8px;
	border: 1px solid #aebde1 !important;
	/* color: #0d46f0; */
	background: #fff !important;
	font-size: 14px;
	width: 100px;
	flex: 2;
	height: 37px;
  margin: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.selective-dict-modal input:focus, select:focus {
  border-color: #0083ff !important;
  box-shadow: 0 0 5px #04698861 !important;
}

.selective-dict-modal select {
  padding: 3px;
  display: inline;
  padding: 4px;
  background: #fff;
	border: 1px solid #aebde1 !important;
  color: #393835;
  font-size: 14px;
  -webkit-flex: 1;
  flex: 1;
  height: 37px;
}

.selective-dict-modal input select {
  box-sizing: border-box;
  font-weight: normal !important;
}

.selective-dict-modal label {
  color: #777;
}

.help-cursor {
  cursor: url(/icons/help.png), auto;
}

.selective-dict-modal .listen-button {
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #ebebeb;
  outline:0;
  padding:8px 0 4px 0;
  position:relative;
  zoom:1;
  opacity: 0.55;
  -moz-opacity: 0.55;
}

.selective-dict-modal .listen-button {
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  border-color:transparent;
  border-style:solid;
  border-width:1px;
  outline:none;
  padding:0;
  height:24px;
  color:#444;
  line-height:24px;
  list-style:none;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  vertical-align:middle;
  cursor:default
}

.selective-dict-modal .listen-button:hover, .listen-button:active, .listen-button:checked, .listen-button:selected {
  color:#222;
  padding:0
}

.selective-dict-modal .listen-button:hover {
  border-color:#c6c6c6!important;
  color:#222
}

.selective-dict-modal .listen-button:hover {
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.1);
  box-shadow:0 1px 1px rgba(0,0,0,.1);
  opacity: 1;
  -moz-opacity: 1;
}

.selective-dict-modal .listen-button:active {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  border-color:#c6c6c6
}

.selective-dict-modal .listen-button:selected, .listen-button:checked {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  border-color:#ccc
}

.selective-dict-modal .listen-button:disabled, .listen-button:disabled {
  color:#222!important;
  opacity:0.3;
  filter:alpha(opacity=30)
}

.selective-dict-modal .listen-button {
  background: url('/icons/Icons8_flat_speaker.svg') no-repeat;
  height: 21px;
  width: 21px;
  line-height: 21px;
  display:inline-block;
}

.synonyms-td span:hover {
  color: #000;
  text-decoration: underline;
}


#transCloseButton {
  background: rgb(223, 223, 223) none repeat scroll 0% 0%;
  color: rgb(60, 60, 60);
  bottom: 12px;
  position: absolute;
  font-weight: bolder;
  border: 1px solid #c4c4c4 !important;
  outline: none !important;
}

#transCloseButton:focus {
  outline: none !important;
}

#transCloseButton:hover {
  background: rgb(200, 199, 199) none repeat scroll 0% 0%
}
.translation-button:hover {
  background: #5e9cff none repeat scroll 0% 0%
}

.selective-dict-spinner {
	border: 10px solid #fffacf;
	border-top: 10px solid #2957b0;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	animation: spin 2s linear infinite;
	position: fixed;
	z-index: 9999999999999999;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sd-examples-container {
  width: 500px;
}

.sd-examples-title {
  margin-top: 15px;
  font-weight: normal !important;
  color: #777;
  font-size: 16px;
  cursor: pointer;
}

.sd-example b {
  font-weight: bolder;
  color: #0c0c0d;
}

.sd-example {
  padding: 10px 15px !important;
  margin: 0 !important;
  color: inherit !important;
  font-weight: normal !important;
  display: none;
  opacity: 0;
  border: none !important;
  background-color: #fff !important;
  background: none !important;
  font-size: inherit !important;
  transition: opacity 5.3s ease-out;
}

.sd-example-icon:before {
    content: "";
    margin-right: 20px;
    background: url('../icons/iconfinder_right_quote_118611.svg');
    height: 10px;
    width: 20px;
    display: inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
}

.translations-row, .translations, .definition, .definition-text {
  display: flex;
}


.translations-container {
  padding-left: 15px;
}

.trans-table, .definitions-container {
  flex: 50;
  min-width: 50%;
}

.definition-icon {
  color: rgba(0,0,0,0.38) !important;
	width: 18px;
  height: 18px;
  display: flex;
  float: left;
  text-align: center;
  font-size: 14px;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.38);
  border-radius: 50%;
}

.definition-text {
  width: 85%;
  margin-left: 22px;
  font-size: 16px;
  font-size: 16px;
  font-weight: normal;
}

.definitions-type {
  margin-left: 0px;
}
 
.definition-sample {
	width: 85%;
	margin-left: 44px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
}
.sd-update-tip {
  position: absolute;
  padding: 10px;
  background: #f7dd51;
  bottom: 55px;
  display: none;
  right: 10px;
  z-index: 99999999999999999;
}
.sd-update-icon {
	position: absolute;
	height: 32px;
	width: 32px;
	background: #f7dd51;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	background-image: url('../icons/iconfinder_ic_update_48px_3669185.svg');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}