.phonetic-td {
  color: #599bb3;
  line-height: 2;
  background: #fff !important;
  border-bottom: none !important;
  vertical-align: middle;
  padding: 0px !important;
}

.trans-type {
  color: #599bb3;
  line-height: 3;
}

.trans-modal {
 -webkit-user-select: none !important;
}

.modal-guts {
  /* cover the modal */
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: 72%;
  /* spacing as needed */
  padding: 0;
  /* let it scroll */
  overflow: auto;
}

.trans-modal-backdrop {
  z-index:9999;
  background: #000;
  opacity: .5;
  position: fixed;
  width:100%;
  height:100%;
  top: 0px;
  left:0px;
}

.trans-table{
  margin: 15px !important;
  margin-top: 0px !important;
  border: none !important;
  table-layout: fixed !important;
  width: auto !important;
}

.trans-table > tr, .trans-table > th, .trans-table > td, .trans-table > tr:nth-child(2n+1), .trans-table > tr:nth-child(2n),  .trans-type-td {
  background: #fff !important;
  border: none !important;
  padding: 0px !important;
  color: #777 !important;
  border-bottom: none !important;
  vertical-align: middle;
}

.trans-td, .translation-td {
  color: #111;
  unicode-bidi: inherit;
  font:normal 14px arial,sans-serif;
  font-weight: 400;
  line-height: 15px;
  padding: 0 !important;
  border-bottom: none !important;
}

.synonyms-td, .source-text-td {
  color: #777;
  cursor: pointer;
  unicode-bidi: inherit;
  font:normal 13px arial,sans-serif;
  font-weight: 400;
  line-height: 15px;
  padding-left: 15px !important;
  border-bottom: none !important;
  padding: 0 !important;
}

.button-green {
  color: #FFFFFF;
  background: #3dd28d;
}

#SelectiveDictModal {
  font: normal 13px arial,sans-serif;
}

#SelectiveDictModal button {
  color: #FFFFFF;
  background: #5d60dd;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border: none !important;
  height:37px;
  line-height: 2;
}

#SelectiveDictModal button, [type="button"], [type="reset"], [type="submit"], .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#SelectiveDictModal button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus, .button:focus {
  outline: 3px solid rgba(2, 145, 153, 0.36) !important;
  outline-offset: 2px !important;
}

#SelectiveDictModal input {
  padding: 3px;
  display: inline;
  padding: 0 8px;
  border: none !important;
  color: #393835;
  background: #e7efef !important;
  font-size: 14px;
  border-radius: 0px;
  width: 100px;
  flex: 2;
  height: 37px;
  margin: 0;
}

#SelectiveDictModal input:focus, select:focus {
  border-color: #188fff;
}

#SelectiveDictModal select {
  padding: 3px;
  display: inline;
  padding: 4px;
  background: #e7efef;
  border: none !important;
  color: #393835;
  font-size: 14px;
  -webkit-flex: 1;
  flex: 1;
  height: 37px;
}

#SelectiveDictModal input select textarea {
  -webkit-box-shadow: inset rgba(0,0,0,0.2) 0 1px 3px 0,0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: inset rgba(0,0,0,0.2) 0 1px 3px 0,0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset rgba(0,0,0,0.2) 0 1px 3px 0,0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: background,color 0.2s linear;
  -moz-transition: background,color 0.2s linear;
  -o-transition: background,color 0.2s linear;
  transition: background,color 0.2s linear;
  text-shadow: #fff 0 1px 0;
  font-family: 'Open Sans', "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.4;
  -moz-appearance: none !important;
}

#SelectiveDictModal input select {
  box-sizing: border-box;
}

#SelectiveDictModal label {
  color: #a8b3bc;
}

.help-cursor {
  cursor: url(/icons/help.png), auto;
}

#SelectiveDictModal .listen-button {
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #ebebeb;
  outline:0;
  padding:8px 0 4px 0;
  position:relative;
  zoom:1;
  opacity: 0.55;
  -moz-opacity: 0.55;
}

#SelectiveDictModal .listen-button {
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  border-color:transparent;
  border-style:solid;
  border-width:1px;
  outline:none;
  padding:0;
  height:24px;
  color:#444;
  line-height:24px;
  list-style:none;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  vertical-align:middle;
  cursor:default
}

#SelectiveDictModal .listen-button:hover, .listen-button:active, .listen-button:checked, .listen-button:selected {
  color:#222;
  padding:0
}

#SelectiveDictModal .listen-button:hover {
  border-color:#c6c6c6!important;
  color:#222
}

#SelectiveDictModal .listen-button:hover {
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.1);
  box-shadow:0 1px 1px rgba(0,0,0,.1);
  opacity: 1;
  -moz-opacity: 1;
}

#SelectiveDictModal .listen-button:active {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  border-color:#c6c6c6
}

#SelectiveDictModal .listen-button:selected, .listen-button:checked {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  border-color:#ccc
}

#SelectiveDictModal .listen-button:disabled, .listen-button:disabled {
  color:#222!important;
  opacity:0.3;
  filter:alpha(opacity=30)
}

#SelectiveDictModal .listen-button {
  background: url('/icons/Icons8_flat_speaker.svg') no-repeat;
  height: 21px;
  width: 21px;
  line-height: 21px;
  display:inline-block;
}

.synonyms-td span:hover {
  color: #000;
  text-decoration: underline;
}

