.trans-type{
  color: #599bb3;
  line-height: 3;
}

.trans-modal{
 -webkit-user-select: none !important;
}

.modal-guts {

  /* cover the modal */
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: 75%;

  /* spacing as needed */
  padding: 0;

  /* let it scroll */
  overflow: auto;
 
}

.trans-modal-backdrop{
 z-index:9999;
 background: #000;
 opacity: .5;
 position: fixed;
 width:100%;
 height:100%;
 top: 0px;
 left:0px;

}

.trans-table{
  margin: 15px !important;
  margin-top: 0px !important;
  border: none !important;
  table-layout: fixed !important;
  width: auto !important;
}

.trans-table tr th td tr:nth-child(2n+1) tr:nth-child(2n) {
  background: #fff !important;
  border: none !important;
  padding: 0 !important;
  color: #777 !important;
}

.trans-table tr, td, th {
  border: none;
  padding: 0px !important;
  vertical-align: middle;
  background: #fff !important;
}

.trans-td {
  color: #111;
  unicode-bidi: inherit;
  font:normal 14px arial,sans-serif;
  font-weight: 400;
  line-height: 15px;
}

.synonyms-td{
  color: #777;
  cursor: pointer;
  unicode-bidi: inherit;
  font:normal 13px arial,sans-serif;
  font-weight: 400;
  line-height: 15px;
  padding-left: 15px !important;
}

.button-green {
  color: #FFFFFF;
  background: #3dd28d;
}

button {
  color: #FFFFFF;
  background: #416dea;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

button, [type="button"], [type="reset"], [type="submit"], .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus, .button:focus {
    outline: 3px solid rgba(2, 145, 153, 0.36) !important;
    outline-offset: 2px !important;
}

form {
  padding: 3px;
  display: flex;
}

input{
  padding: 3px;
  display: inline;
  padding: 4px;
  border: none;
  color: #393835;
  background: #e7efef;
  font-size: 14px;
  border-radius: 0px;
  width: 100px;
  flex: 2;
  height: 37px;
  margin: 0;
}

input:focus, select:focus {
  border-color: #188fff;
}

select {
  padding: 3px;
  display: inline;
  padding: 4px;
  background: #e7efef;
  border: none !important;
  color: #393835;
  font-size: 14px;
  -webkit-flex: 1;
  flex: 1;
  height: 37px;
}

input, select{
  box-sizing: border-box;
}

